<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}
  <body>
    <main>
      <div class="md:container md:mx-auto">
        <br/>
        <span class="text-xl">Habits v0.2</span>
        <div>{{ template "habits.html" . }}</div>
        <div
          hx-get="/notes"
          hx-target="this"
          hx-swap="outerHTML"
          hx-indicator="#processing"
          hx-trigger="load"
          class=""
          href=""
        >Loading..</div>
      </div>
    </main>
  </body>
</html>
