<div id="datarow-{{.Row.ID}}" class="flex border-b dark:border-neutral-500">
    <div class="whitespace-nowrap px-6 py-4 w-1/8">
        <label for="IsActive">Active:</label>
        <input
            type="checkbox"
            class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.Row.ID}}"
            name="IsActive"
            value="{{.Row.IsActive}}"
            {{if .Row.IsActive}}checked{{end}}
        />
    </div>
   
  <div class="whitespace-nowrap px-6 py-4 w-1/8">
      <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          data-include-edit="{{.Row.ID}}"
          name="Name"
          value="{{.Row.Name}}"
      />
  </div>
  

  <div>
    (every {{.Row.ResetValue}} {{.Row.ResetFrequency}})
  </div>
  <div class="whitespace-nowrap px-6 py-4 w-1/8">
      <input
          type="number"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          data-include-edit="{{.Row.ID}}"
          name="ResetValue"
          value="{{.Row.ResetValue}}"
      />
  </div>

  <div class="whitespace-nowrap px-6 py-4 w-1/8">
      <select data-include-edit="{{.Row.ID}}" name="ResetFrequency" id="ResetFrequency">
          <option value="minutes"  {{if eq .Row.ResetFrequency "minutes"}}selected{{end}}>Minutes</option>
          <option value="hourly"  {{if eq .Row.ResetFrequency "hourly"}}selected{{end}}>Hourly</option>  
          <option value="daily" {{if eq .Row.ResetFrequency "daily"}}selected{{end}}>Daily</option>
          <option value="weekly" {{if eq .Row.ResetFrequency "weekly"}}selected{{end}}>Weekly</option>
          <option value="monthly" {{if eq .Row.ResetFrequency "monthly"}}selected{{end}}>Monthly</option>
      </select>

  </div>
  <div class="whitespace-nowrap px-6 py-4 w-1/8">
    Group:
    <select id="Group" name="Group" data-include-edit="{{.Row.ID}}">
        <option value="">-- Select existing Group --</option>
        {{range .Groups}}
            <option value="{{.}}">{{.}}</option>
        {{end}}
    </select>
    <details>
        <summary>New Group</summary>
        <label for="NewGroup">New Group:</label>
        <input type="text" id="newGroup" name="NewGroup" data-include-edit="{{.Row.ID}}"/>
    </details>
</div>

  <div class="whitespace-nowrap px-1 py-1 w-1/8">
      <a
          hx-put="/habit/{{.Row.ID}}"
          hx-target="#datarow-{{.Row.ID}}"
          hx-swap="outerHTML"
          hx-indicator="#processing"
          hx-include="*[data-include-edit='{{.Row.ID}}']"
          class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
          href=""
      >Save</a>
  </div>
  
  <div class="whitespace-nowrap px-1 py-1 w-1/8">
      <a
          hx-get="/habit/{{.Row.ID}}"
          hx-target="#datarow-{{.Row.ID}}"
          hx-swap="outerHTML"
          hx-indicator="#processing"
          class="inline-flex items-center h-8 px-4 m-2 text-sm text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800"
          href=""
      >Cancel</a>
  </div>

</div>
