<tr id="datarow-{{.ID}}" class="border-b dark:border-neutral-500">
  <td class="whitespace-nowrap px-6 py-4">{{.ID}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.Name}}</td>
  <td class="whitespace-nowrap px-6 py-4">    
    {{if .IsActive}}
      <span role="img" aria-label="tick">✔️</span>
    {{else}}
      <span role="img" aria-label="cross">❌</span>
    {{end}}
</td>
  <td class="whitespace-nowrap px-6 py-4">{{.LastComplete}}</td>
  <td class="whitespace-nowrap px-1 py-1">
    <a
      hx-get="/habit/edit/{{.ID}}"
      hx-target="#datarow-{{.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#processing"
      class="hover:underline text-blue-700"
      href=""
    >
      Edit
    </a>
  </td>
  <td class="whitespace-nowrap px-1 py-1">
    <a
      hx-delete="/habit/{{.ID}}"
      hx-target="#habits"
      hx-confirm="Are you sure you want to delete {{.Name}}?"
      hx-indicator="#processing"
      class="hover:underline text-blue-700"
      href=""
      >Delete</a
    >
  </td>
</tr>
